@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


@layer components {
  .custom-container {
    @apply mx-auto p-10 max-w-6xl;
  }
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::placeholder{
  font-weight:500;
  opacity: 0.5;
  color: #927158;
}

.check1 input::placeholder{
  font-weight:500;
  opacity: 0.5;
  color: black;
}
@layer components { 
  .centered {
    @apply flex items-center justify-center;
  }
}